.container {
    border: 2px;
    background-color:pink;
}
.img-rounded {
    border :2px solid red;

}

.slideImg {
    width: 100%;
    min-height: 100% !important;
}

#first {
    height: 200px;
    background-color: blue;
}
#second {
    height: 800px;
    background-color: brown;
}