table {
    border: 1px solid rgb(113, 25, 212);
    background-color: rgb(18, 241, 37);
    border-collapse: collapse;
    text-align: center;
    
}
th {
    background-color:gray;
    color:black;
}
th , td {
    padding: 10px;
}
caption {
    font-size: xx-large;
    font-weight: 300;
    color: blue;
}
a:link {
    text-decoration: none;
}
a:hover {
    color:white;
}
div {
    width: 33%;
    float:left
}
.vegetable {
    background-color: darkgreen;
}
.fruit {
    background-color: blue;
    text-align: center;
    color: blanchedalmond;
}
.organic {
    color: aliceblue;
    text-align:center
}
#veg1 {
    color: blue;
}
#fru1 {
    color: blueviolet;
}